* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --black-color: #000;
    --white-color: #fff;
}

html {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
}

.header__navbar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 5px 20px 5px 5px;
}


.header__navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    height: 60px;
}

.header__navbar-item:has(> .header__navbar-login) {
    height: 35px;
    background-color: #0089eb;
    border-radius: 4px;
    padding: 0 15px;
}

.header__navbar-item:has(> .header__navbar-searchlabs) {
    width: 35px;
    height: 35px;
}

.header__navbar-item:has(> .header__navbar-searchlabs):hover {
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    background-color: #ddd;
}

.header__navbar-link.header__navbar-login {
    color: var(--white-color);
}

.header__navbar-item +.header__navbar-item {
    margin-left: 10px;
}

.header__navbar-link {
    text-decoration: none;
    color: var(--black-color);
}

.header__navbar-link:not(.header__navbar-login):hover {
    text-decoration: underline;
}

.content__section:has(> .content__logo) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 135px;
}

.content__logo {
    width: 100%;
    max-width: 272px;
    height: auto;
    object-fit: contain;
}

.content__section:has(> .content__search) {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.content__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 46px;
    border: 2px solid #ddd;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 5px;
} 

.content__search:hover {
    border-color: #eee;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.content__search-input,
.content__search-input:focus {
    outline: none;
    border: none;
}

.content__search-input {
    width: 420px;
    height: 40px;
    overflow-wrap: break-word;
    font-size: 16px;
}

.content__search-item:has(> .content__search-icon-link) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 46px;
}

.content__search-icon {
    font-size: 16px;
}

.content__search-icon.magnify {
    color: #ccc
}

.content__search-icon-link {
    color: var(--black-color);
}

.content__search-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 58px;
    padding-top: 10px;
}

.content__search-btn {
    display: flex;
    background-color: #f8f8f8;
    height: 34px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.content__search-btn:hover {
    border: 1px solid #ddd;
}

.content__search-btn + .content__search-btn {
    margin-left: 10px;
}

.content__search-btn-link {
    text-decoration: none;
    color: var(--black-color);
    line-height: 34px;
    font-size: 14px;
    padding: 0 20px;
}

.content__language {
    padding-top: 40px;
}

.content__language-link {
    text-decoration: none;
    padding: 0 5px;
    color: #1a0dab;
}

.content__language-link:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    bottom: 0;
}

.footer__location,
.footer__other {
    font-size: 15px;
    height: 48px;

}

.footer__location {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.footer__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer__other-list{
    list-style: none;
    display: flex;
}

.footer__other-link {
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
    color: var(--black-color);
}

.footer__other-link:hover {
    text-decoration: underline;
}